<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="SanatateDulceSRL" CONTENT="Miere de inalta calitate; Produse apicole; Miere">
    <meta name="Miere Moldova" CONTENT="SanatateDulceSRL; Sanatate Dulce; Cumpăra miere; cumpara miere; miere; miere moldova;">
    <meta name="Sanatate Dulce" CONTENT="Cumpăra miere online de la producătorul Sănătate Dulce">
    <meta name="SanatateDulce" CONTENT="Cumpăra miere online de la producătorul Sănătate Dulce">
    <title>Sănătate Dulce</title>
    <style>
        @font-face {
            font-family: main;
            src: url("{% static 'font/gilroy/Gilroy-Bold.ttf' %}");
            font-size: 64px !important;
        }
        
        @font-face {
            font-family: slide;
            src: url("{% static 'font/Montserrat/Montserrat-Bold.ttf' %}");
            font-size: 48px !important;
        }
        
        @font-face {
            font-family: thin;
            src: url("{% static 'font/Montserrat/Montserrat-Light.ttf' %}");
            font-size: 18px !important;
        }
        
        @font-face {
            font-family: regular;
            src: url("{% static 'font/Montserrat/Montserrat-Regular.ttf' %}");
            font-size: 18px !important;
        }
        
        @font-face {
            font-family: header;
            src: url("{% static 'font/gilroy/Gilroy-Bold.ttf' %}");
            font-size: 38px;
        }
        
        @font-face {
            font-family: info;
            src: url("{% static 'font/gilroy/Gilroy-Medium.ttf' %}");
            font-size: 24px;
        }
        
        @font-face {
            font-family: secondar;
            src: url("{% static 'font/gilroy/Gilroy-Regular.ttf' %}");
            font-size: 24px;
        }
        
        @font-face {
            font-family: semi;
            src: url("{% static 'font/gilroy/Gilroy-Semibold.ttf' %}");
            font-size: 24px;
        }
        
        @font-face {
            font-family: header;
            src: url("{% static 'font/gilroy/Gilroy-Light.ttf' %}");
            font-size: 18px;
        }
        
        @font-face {
            font-family: drop;
            src: url("{% static 'font/gilroy/Gilroy-Regular.ttf' %}");
            font-size: 14px;
        }
        
        @font-face {
            font-family: fat;
            src: url("{% static 'font/gilroy/Gilroy-Black.ttf' %}");
            font-size: 14px;
        }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'scss/universal.css' %}">
    <link rel="stylesheet" href="{% static 'scss/form.css' %}">
</head>
<!-- "{% static 'images/carticon.png' %}" -->

<body>
    <main>
        <header id="pc">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <!-- Adauga aici link la pagina principala-->
                        <a href="{% url 'store' %}">
                            <img src="{% static 'images/logoalbina.png' %}" alt="" style="height:50px;">
                        </a>
                    </div>
                    <div class="col-lg-10 headerMenu">
                        <div class="col-lg-10">
                            <ul>
                                <li class="special"><a href="{% url 'magazin' %}" data-switcher data-tab="1">
                                Magazin
                            </a></li>
                                <li><a href="{% url 'desprenoi' %}" data-switcher data-tab="2">
                                Despre Noi
                            </a></li>
                                <li class="contactCall"><a href="#" data-switcher data-tab="3">
                                Contactează-ne
                            </a></li>
                                <li><a href="{% url 'noutati' %}" data-switcher data-tab="4">
                                Noutăți
                            </a></li>
                                <li style="z-index:50;">
                                    <form class="form-inline formSearch my-2 my-lg-0" method=POST action="{% url 'searchresults' %}">
                                        {% csrf_token %}
                                        <input class="form-control mr-sm-2" type="search" placeholder="Caută..." aria-label="Search" name="searched">
                                        <button class="btn my-2 my-sm-0" type="submit">
                                        <img src="{% static 'images/search.png' %}" alt="">
                                    </button>
                                    </form>
                                </li>
                                <li style="z-index: 60" id="cartAfter">
                                    <a href="{% url 'cos' %}" data-switcher data-tab="4">
                                        <img src="{% static 'images/cart.svg' %}" width="30" height="30">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <header id="phone">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1 col-1">
                        <a href="{% url 'store' %}">
                            <img src="{% static 'images/logoalbina.png' %}" alt="" style="height:50px;">
                        </a>
                    </div>
                    <div class="col-sm-7 col-7">
                    </div>
                    <div class="col-sm-1 col-1 ">
                        <li style="z-index: 60" id="cartAfter">
                            <a href="{% url 'cos' %}" data-switcher data-tab="4">
                                <img src="{% static 'images/cart.svg' %}" id="cart" alt="">
                            </a>
                        </li>
                    </div>
                    <div class="col-sm-1 offset-1 col-1 linesImage">
                        <img src="{% static 'images/menu.png' %}" id="menuLines" alt="">
                    </div>
                </div>
            </div>
        </header>
        <div class="menuPhone noneSlide">
            <div class="menuPhoneBlock">
                <ul>
                    <li> <a href="{% url 'magazin' %}" data-switcher data-tab="1">
                        Magazin
                    </a></li>
                    <li> <a href="{% url 'desprenoi' %}" data-switcher data-tab="2">
                        Despre Noi
                    </a></li>
                    <li class="contactCall"><a href="#" data-switcher data-tab="3">
                        Contactează-ne
                    </a></li>
                    <li> <a href="{% url 'noutati' %}" data-switcher data-tab="4">
                        Noutăți
                    </a></li>
                </ul>
            </div>
        </div>

        <section id="first" class="app">
            <div class="images">
                <img src="{% static 'images/left.svg' %}" id="left" alt="">
                <img src="{% static 'images/right.svg' %}" id="right" alt="">

            </div>
            <div class="containerWithArrows">
                <img src="{% static 'images/arr.svg' %}" id="arl" alt="">
                <div class="container containerPhone">
                    <div class="row">
                        <div class="col-12">
                            <div class="slides">
                                <div class="slide1 slide yesSlide">
                                    <div class="col-lg-6">
                                        <div class="common">
                                            <div class="slideText">
                                                <p>Cumpără <span class="golden">miere</span> de înaltă calitate</p>
                                                <h5>Comandă produse apicole făcute cu suflet</h5>
                                            </div>
                                            <a href="{% url 'magazin' %}" style="z-index:40;">
                                                <button class="defaultButton">
                                                    Cumpără
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="Slideimage">
                                            <img src="{% static 'images/comp.svg' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="slide2 slide noneSlide">
                                    <div class="col-lg-6">
                                        <div class="Slideimage">
                                            <img src="{% static 'images/comp2.svg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="common">
                                            <div class="slideText">
                                                <p>Savurează produse apicole locale</p>
                                                <h5>Incearcă gustul <span class="golden">mierii</span> colectate cu multă iubire</h5>
                                            </div>
                                            <a href="{% url 'desprenoi' %}">
                                                <button class="defaultButton" style="z-index:50 !important;">
                                                Despre noi
                                            </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slidesPhone">
                                <div class="slide1 slide yesSlide">
                                    <div class="col-12">
                                        <div class="common">
                                            <div class="slideText">
                                                <p>Cumpăra <span class="golden">miere</span> de inalta calitate</p>
                                                <h5>Comandă produse apicole făcute cu suflet</h5>
                                            </div>
                                            <button class="defaultButton">
                                    Cumpără
                                </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="slide2 slide noneSlide">
                                    <div class="col-12">
                                        <div class="common">
                                            <div class="slideText">
                                                <p>Savureaza produse apicole locale</p>
                                                <h5>Incearca gustul <span class="golden">mierei</span> colectate cu multa iubire</h5>
                                            </div>
                                            <button class="defaultButton">
                                    Despre noi
                                </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="{% static 'images/arr.svg' %}" id="arr" alt="">
            </div>

            <div class="elipses">
                <div class="elipseBlock">
                    <div class="c activeElipse"></div>
                    <div class="c"></div>
                </div>
            </div>
        </section>
        <section id="second" class="app">
            <img id="rightBranch" src="{% static 'images/rightbran.svg' %}" alt="">
            <img id="leftFlower" src="{% static 'images/leftflower.svg' %}" alt="">
            <!-- <img src="{% static 'images/leftflower.svg' %}" class="bee" id="bee1" alt=""> -->
            <div class="container">
                <div class="row oppos">
                    <div class="col-lg-5 offset-lg-1 centrized"><img src="{% static 'images/hex1.svg' %}" alt=""></div>
                    <div class="col-lg-5">
                        <div class="containerLorem">
                            <p style="text-align:center">Mierea<br> "Sănătate Dulce"</p>
                            <h3>
                                Mierea <b><i>"Sănătate Dulce"</i></b> este 100% naturală, nepasteurizată, neprocesată și nefiltrată, îmbuteliată cu dragoste, păstrând întreaga bunătate naturală pe care mierea crudă o are de oferit! Cristalizarea are loc
                                în mod natural și nu are efecte negative asupra mierii în sine - de fapt, ajută la păstrarea nutrienților și a calității! Mierea noastră este disponibilă sub formă lichidă, cremă sau cristalizată și în diferite dimensiuni,
                                de la borcane mici la găleți de 45 kg!

                            </h3>
                        </div>
                        <img src="{% static 'images/bee2.svg' %}" class="bee" id="bee2" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section id="third" class="app">
            <img id="rightFlower" src="{% static 'images/rightflower.svg' %}" alt="">
            <img id="leftBranch" src="{% static 'images/leftBranch.svg' %}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 offset-lg-1">
                        <div class="containerLorem">
                            <p>Ce produse oferim?</p>
                            <h3>
                                Avem, de asemenea, articole cadou pentru diferite evenimente, articole din ceară de albine care, apropo, au un miros care îți îmbată sufletul. Puteți gusta oricare dintre mierile noastre la magazin, dar fiți foarte atenți, va fi greu să decideți care
                                o veți lua acasă ! :) Punem în valoare pe cât posibil produsele locale. Dacă totuși nu puteți ajunge la magazinul nostru, încercați magazinul nostru online! Ai dreptul să te întrebi ce se întâmplă în cazul în care nu ești
                                mulțumit de produs. Vrem ca Dumneavostră, cel care ne-a acordat încredere, să nu vă asumați niciun risc. Prin urmare, Vă oferim o garanție puternică... Dacă nu va plăcut produsul pe care l-am trimis, puteți returna oricând
                                borcanul de miere cu conținutul rămas în el, fără nici o explicație, iar noi vă virăm înapoi prețul integral de achiziție.

                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 centrized"><img src="{% static 'images/hex2.svg' %}" alt=""></div>
                </div>
            </div>
        </section>
        <section id="fourth" class="app">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <img src="{% static 'images/bee1.svg' %}" class="bee" id="bee3" alt="">
                        <div class="iconsContainer">
                            <div class="block">
                                <div class="textBlock">
                                    <div class="textBlocks">
                                        <div class="capital">1.</div>
                                        <div class="lower">Albinele produc mierea.</div>
                                    </div>
                                    <div class="textBlocks">
                                        <div class="capital">2.</div>
                                        <div class="lower">Noi o impachetăm cu cea mai mare grijă.</div>
                                    </div>
                                    <div class="textBlocks">
                                        <div class="capital">3.</div>
                                        <div class="lower">Produsul este gata pentru a fi savurat.</div>
                                    </div>
                                </div>
                                <img src="{% static 'images/icons.svg' %}" alt="">
                            </div>
                        </div>
                        <img src="{% static 'images/bee2.svg' %}" class="bee" id="bee4" alt="">

                    </div>
                </div>
            </div>
        </section>
        <section id="fourthPhone" class="app">
            <img src="{% static 'images/phoneBlock.svg' %}" alt="">
        </section>
        <footer>
            <img src="{% static 'images/honeyspoon.svg' %}" id="spoon" alt="">
            <img src="{% static 'images/wave.svg' %}" id="wave" alt="">
            <div class="footerCont">
                <div class="container" style="justify-content: center;">
                    <div class="row">
                        <div class="col-lg-6"> <img src="{% static 'images/warn.png' %}" class="warn" alt=""> Acest website a fost realizat în cadrul competiției ”Tekwill Junior Ambassadors” organizată de proiectul ”Tekwill în Fiecare Școală” și nu reflectă neapărat opinia
                            proiectului.
                        </div>
                        <div class="col-lg-6">
                            <div class="textBlock">
                                Număr de contact: 0696 84 444<br> E-mail: ion.tudoreanu1@gmail.com<br> Viber: +373 696 84 444<br>
                                <a href="https://www.facebook.com/SanatateDulceSRL"><b> Pagina noastra de Facebook</a> </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <div class="scroll">
        <img src="{% static 'images/arrow-right.png' %}" alt="">
    </div>
    <form action="{% url 'contact' %} " method="POST ">
        {% csrf_token %}
        <div class="grayBackground ">
            <div class="contactPopUp ">
                <img src="{% static 'images/cancel.svg' %} " class="cancel " alt=" ">
                <h3>Contactează-ne</h3>
                <div class="inputPlace ">
                    <input type="text " placeholder="Numele " class="nameBox " name="message-name ">
                </div>
                <div class="inputPlace ">
                    <input type="text " placeholder="Email " class="emailAdressBox " name="message-email ">
                </div>
                <div class="inputPlace hugeInput ">
                    <input type="text " placeholder="Mesaj " class="messageBox " name="message ">
                </div>
                <button class="widgetButt " type="submit ">              
                            Trimite    
                    </button>
            </div>
        </div>
    </form>



    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        ScrollReveal().reveal('.app ', {
            delay: 300
        });
    </script>
    <script src="{% static 'dist/bundle.js' %}"></script>
</body>

</html>