main {
    height: 100% !important;
}

#firstAb,
#secondAb,
#map {
    height: 100%;
    margin: 100px;
    font-family: thin !important;
    img {
        width: 100%;
    }
}

.centrified {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
    img {
        transition: scale 0.5s ease-in-out;
    }
    img:hover {
        transform: scale(1.01);
    }
}

.containerAbout {
    width: 100%;
    text-align: center;
}

@media (max-width:800px) {
    .textBlock {
        text-align: center !important;
    }
    #firstAb {
        margin-bottom: 20px;
    }
    .containerAbout {
        img {
            width: 100% !important;
            margin: 40px 0px 40px 0px;
        }
    }
}